.optionList {
  display: flex;
  list-style: none;
  gap: 30px;
}

.optionButton {
  padding: 5px 15px;
  border-radius: 10px;
  border-color: white;
  background-color: white;
  box-shadow: 2px 5px 5px rgb(0 0 0 / 15%);
  color: black;
  text-transform: capitalize;
  font-weight: bold;
  cursor: pointer;
}
.optionButton:hover,
:focus {
  background-color: greenyellow;
}
